<ul class="nav nav-tabs">
    <li ui-sref-active="active">
        <a ui-sref="home">
            <span class="glyphicon glyphicon-user"></span>
            Mis datos</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="facturas">
            <span class="glyphicon glyphicon-inbox"></span>
            Mis facturas</a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="consumo">
            <span class="glyphicon glyphicon-time"></span>
            Mis consumos</a>

    </li>
    <li ui-sref-active="active">
        <a ui-sref="contacto">
            <span class="glyphicon glyphicon-info-sign"></span>
            Contacto</a>
    </li>
</ul>
