{% extends '_base_login.html' %}
{% block content %}
    <!-- Login Screen -->
    <a href="./" class="logo"><img src="{{ STATIC_URL }}images/logo grupo.jpg" width="100%" /></a>
    <div class="login-wrapper">
        <form action="" method="post">
            {% csrf_token %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-title">Área de clientes</div>

                </div>

                <div style="padding-top:30px" class="panel-body">

                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

                    <form id="loginform" class="form-horizontal" role="form">


                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input class="form-control
                                              {% if form.username.errors %}has-error{% endif %}"
                                              placeholder="usuario" type="text" name="username"
                                              value="{{ form.username.value }}">
                            </div>

                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input class="form-control
                                              {% if form.password.errors %}has-error{% endif %}"
                                              placeholder="contraseña" type="password" name="password"
                                              value="{{ form.password.value }}"/>
                            </div>
                        </div>


                        <div style="margin-top:10px" class="form-group">
                            <input class="btn btn-primary btn-block" type="submit" value="Entrar">
                        </div>


                        <div class="form-group">
                            <div class="col-md-12 control">
                                <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                    Ha olvidado la contraseña!
                                    <a href="#" onclick="$('#loginbox').hide(); $('#signupbox').show()">
                                        Pulse aquí
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
