<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.jnc.miprimeraapp" >

    <uses-sdk android:minSdkVersion="7"  android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name=".ActividadPpal"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActividadMensaje"
            android:label="@string/title_activity_actividad_mensaje"
            android:parentActivityName=".ActividadPpal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="es.jnc.miprimeraapp.ActividadPpal" />
        </activity>
    </application>

</manifest>
